<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">

	<!-- 启用注解，并定义组件查找规则 ，mvc层只负责扫描@Controller -->
	<context:component-scan base-package="com.qlu.android.product.controller"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation"
			expression="org.springframework.web.bind.annotation.RestController" />
	</context:component-scan>


	<!-- 视图处理器 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- servlet适配器，这里必须明确声明，因为spring默认没有初始化该适配器 -->
	<bean id="servletHandlerAdapter"
		class="org.springframework.web.servlet.handler.SimpleServletHandlerAdapter" />

	<mvc:annotation-driven />

	<!-- 资源访问处理器 -->
	<mvc:resources mapping="/static/**" location="/static/" />
	
	<!-- 拦截器配置 -->
	<mvc:interceptors>
	    <mvc:interceptor>
	        <mvc:mapping path="/*" />
	        <mvc:mapping path="/main/*" />
	        <mvc:mapping path="/usermanager/*" />
	        <mvc:mapping path="/rolemanager/*" />
	        <mvc:exclude-mapping path="/findProduct"/> 
	        <mvc:exclude-mapping path="/login"/> 
	        <mvc:exclude-mapping path="/login.ajax"/>
	        <mvc:exclude-mapping path="/test"/> 
	        <mvc:exclude-mapping path="/getInfo"/> 
	        <mvc:exclude-mapping path="/excel/*"/> 
	        <mvc:exclude-mapping path="/getIndexInfo.ajax"/> 
	        <bean class="com.qlu.android.product.interceptor.SecurityInterceptor"></bean>
	    </mvc:interceptor>
	</mvc:interceptors>
	
	<bean id="handlerExceptionResolver"
    	class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
	    <property name="exceptionMappings">
	        <props>
	            <prop key="com.qlu.android.product.exception.AuthorizationException">redirect:/login</prop>
	        </props>
	    </property>
	</bean>
</beans>